/* stylelint-disable declaration-block-no-redundant-longhand-properties */

body {
  margin: 0px;

  /* BEGIN (write your solution here) */
font-size: 18px;
color: rgba(50, 51, 47, 0.829);
  
  /* END */
  font-family: sans-serif;
  line-height: 1.5;
}


h1 {
/* BEGIN (write your solution here) */

margin-top: 50px;
margin-bottom: 10px;
font-size: 60px;
text-align: center;
/* END */
}



h2 {
  /* BEGIN (write your solution here) */
font-size: 25px;
margin-top: 0px;
padding-bottom: 30px;
text-align: center;
  
  /* END */

  border-bottom: 2px solid #333;
}

main {
  width: 900px;
  margin: auto;
}

section {

/* BEGIN (write your solution here) */
margin-top: 50px;
margin-bottom: 50px;
margin-left: 0px;
margin-right: 0px;
padding-top: 0px;
padding-bottom: 0px;
padding-left: 50px;
padding-right: 50px;

/* END */

}

section > h2 {
  padding: 0px;
  text-align: left;
  border: none;
}


li {
  margin-bottom: 10px;
}

.tg  {border-collapse:separate;border-spacing:1px;}

.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-frci{background-color:#0F0;border-color:inherit;font-weight:bold;text-align:left;vertical-align:top}
.tg .tg-5mcf{background-color:#F9CB9C;border-color:inherit;text-align:center;vertical-align:top}
.tg .tg-bipq{background-color:#CCC;border-color:inherit;text-align:center;vertical-align:top}
.tg .tg-d0lk{background-color:#FF0;border-color:inherit;font-weight:bold;text-align:left;vertical-align:top}
.tg .tg-q2a3{background-color:#FF0;border-color:inherit;text-align:center;vertical-align:top}
.tg .tg-j7qk{background-color:#8DB3E2;border-color:inherit;font-weight:bold;text-align:left;vertical-align:top}
.tg .tg-c3ow{border-color:inherit;text-align:center;vertical-align:top}
.tg .tg-nbj5{background-color:#FFF;border-color:inherit;text-align:center;vertical-align:top}
.tg .tg-czxa{background-color:#F9CB9C;border-color:inherit;font-weight:bold;text-align:left;vertical-align:top}
.tg .tg-x0cx{background-color:#FFC000;border-color:inherit;font-weight:bold;text-align:left;vertical-align:top}
.tg .tg-551s{background-color:#FFC000;border-color:inherit;text-align:center;vertical-align:top}
.tg .tg-8nq7{background-color:#FFC000;border-color:inherit;font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-pdeq{background-color:#FFF;border-color:inherit;font-weight:bold;text-align:left;vertical-align:top}
.tg .tg-0kcz{background-color:#8DB3E2;border-color:inherit;text-align:center;vertical-align:top}
.tg .tg-431e{background-color:#8DB3E2;border-color:inherit;font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-bqtl{background-color:#D8D8D8;border-color:inherit;font-weight:bold;text-align:right;vertical-align:top}
.tg .tg-mlvl{background-color:#D8D8D8;border-color:inherit;text-align:center;vertical-align:top}
.tg .tg-fymr{border-color:inherit;font-weight:bold;text-align:left;vertical-align:top}
.tg .tg-ocy3{background-color:#0F0;border-color:inherit;text-align:center;vertical-align:top}