/* stylelint-disable declaration-block-no-redundant-longhand-properties */

body {
  margin: 0px;

  /* BEGIN (write your solution here) */
font-size: 18px;
color: rgba(50, 51, 47, 0.829);
  
  /* END */
  font-family: sans-serif;
  line-height: 1.5;
}


h1 {
/* BEGIN (write your solution here) */

margin-top: 50px;
margin-bottom: 10px;
font-size: 60px;
text-align: center;
/* END */
}



h2 {
  /* BEGIN (write your solution here) */
font-size: 25px;
margin-top: 0px;
padding-bottom: 30px;
text-align: center;
  
  /* END */

  border-bottom: 2px solid #333;
}

main {
  width: 900px;
  margin: auto;
}

section {

/* BEGIN (write your solution here) */
margin-top: 50px;
margin-bottom: 50px;
margin-left: 0px;
margin-right: 0px;
padding-top: 0px;
padding-bottom: 0px;
padding-left: 50px;
padding-right: 50px;

/* END */

}

section > h2 {
  padding: 0px;
  text-align: left;
  border: none;
}


li {
  margin-bottom: 10px;
}

.tg  {border-collapse:separate;border-spacing:1px;}

.tg td{border-color:black;border-style:solid;border-width:2px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:5px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:2px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:5px 5px;word-break:normal;}
.tg .tg-normal{background-color:rgb(245, 248, 245);border-color:inherit;font-weight:bold;text-align:left;vertical-align:top}
.tg .tg-highlight{background-color:#945e3aa1;border-color:inherit;text-align:center;vertical-align:top}